<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <iframe width="0" height="0" src="https://www.youtuberepeater.com/watch?v=o8GrqUSdzi0#gsc.tab=0" frameborder="0" allowfullscreen></iframe>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/66544abedc.js" crossorigin="anonymous"></script>    
    <title>Whats on my mind?</title>
</head>
<body>
   <div class="main-container">
     
      <h1>Tell me whats on your mind </h1>
    <div class="app-container">
        <div class="left">
            <form action="" id="form">
                <label for="post">Write your thoughts here</label>
                <textarea name="post" id="post" ></textarea>
                <div id="msg"></div>
                <button type="submit">Share My Thoughts</button>
            </form>
        </div>
        <div class="right">
            <h3>Your thoughts will appear here</h3>
            <div id="posts">
                <div>
                    <p>Whats the next step in life?</p>
                    <span class="options">
                        <i onClick="updatePost(this)" class="fas fa-edit"></i>
                        <i onClick="deletePost(this)" class="fas fa-trash-alt"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
     
   </div>
    <script src="script.js"></script>
</body>
</html> 